body {
  width: 100vw;
  background: rgb(176, 191, 255);
  background: linear-gradient(90deg, rgba(176, 191, 255, 1) 0%, rgba(130, 154, 252, 1) 15%, rgb(30, 77, 246) 41%, rgba(73, 111, 254, 1) 61%, rgba(130, 154, 252, 1) 85%, rgba(176, 191, 255, 1) 100%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}